doctype html
html
    head
        script(type='text/javascript' src='./bundle.js' defer async)
        script(src='https://api.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.js')
        link(href='https://api.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.css' rel='stylesheet')
        link(href='./globalStyle.css' rel='stylesheet')
    body
        div#root